//Colors

$dark-grey: #333;
$grey: #666;
$blue: rgb(33, 126, 143);
$black: #000;
$red: #A50104;
$dark-blue: #044389;
$purple: #540D6E;
$light-grey: #F7F7F7;
$white: #FFF;


//Spacings

$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 0.8rem;
$xs-size: 0.4rem;
$desktop-breakpoint: 45rem;

//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;